<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.mapper.ApiCallLogMapper">
  <select id="findAll" resultType="study.model.ApiCallLog">
    SELECT id, call_date, created_at
    FROM sample1.api_call_log
    ORDER BY id ASC
  </select>

  <select id="findById" parameterType="long" resultType="study.model.ApiCallLog">
    SELECT id, call_date, created_at
    FROM sample1.api_call_log
    WHERE id = #{id}
  </select>

    <!-- 今日の日付の件数をカウント -->
  <select id="countToday" resultType="int">
    SELECT COUNT(*)
    FROM sample1.api_call_log
    WHERE call_date = CURRENT_DATE
  </select>



</mapper>
