<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.mapper.QaLogMapper">
  <select id="findByUserId" parameterType="Long" resultType="study.model.QaLog">
    SELECT 
        id,
        user_id,
        question,
        answer,
        created_at
    FROM sample1.qa_log
    WHERE user_id = #{userId}
  </select>


  <insert id="insertQaLog">
      INSERT INTO sample1.qa_log
        (user_id, question, answer)
      VALUES
        (#{userId}, #{question}, #{answer})
  </insert>

</mapper>


