<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">TOP</title>
</head>
<body>
    <div>トップページです</div>
    <a th:href="@{/hello}">helloページ</a>
    <button id="btn">button</button>
</body>
<script>
    let btnElement = {};
    document.addEventListener("DOMContentLoaded", function() {
        btnElement = document.getElementById("btn");
        btnElement.addEventListener('click', () => {
            getHelloData();
        });
    });

    let getHelloData = async () => {
        let res = await fetch('/api/hello', {
            method: 'GET',
        });
        let data = await res.text();
        console.log(data);
    };

</script>
</html>
